{
  "extends": [
    "react-app",
    "eslint:recommended"
  ],
  "plugins": [
    "babel",
    "react"
  ],
  "rules": {
    "quotes": [
      "error",
      "single"
    ],
    "babel/no-unused-expressions": "error",
    "no-unused-expressions": "off"
  }
}
