{% extends "base.html" %}
{% load tz %}
{% load get_companion %}
{% load unreaded_count %}

{% block page_title %}
Диалоги
{% endblock page_title %}


{% block content %}
<section id="dialogs">
    <div class="container">
        <div class="row">
            <div class="panel">
                {% if chats.count == 0 %}
                <div class="panel panel-body">Нет ни одного начатого диалога</div>
                {% endif %}
                {% for chat in chats %}
                {% if chat.messages.count != 0 %}
                {% with last_message=chats.messages.last %}
                {% get_companion request.user chat as companion %}
                <a class="list-group-item {% if companion == last_message.author and not last_message.is_readed %}unreaded{% endif %}"
                   href="{{ chat.get_absolute_url }}">
                    <div class="reply-body">
                        <ul class="list-inline">
                            <li class="drop-left-padding">
                                <strong class="list-group-item-heading">{{ companion.username }}</strong>
                            </li>
                            <li class="pull-right text-muted"><small>{{ last_message.created_dt|localtime }}</small></li>
                        </ul>
                        {% if companion != last_message.author %}
                        <div>
                            <div class="attached-reply-body {% if not last_message.is_readed %}unreaded{% endif %}">
                                {{ last_message.message|truncatechars:20 }}
                            </div>
                        </div>
                        {% else %}
                        <div>{{ last_message.message|truncatechars:20 }}</div>
                        {% endif %}

                        <div>Непрочитанных: {% unreaded_msg_count user chat %}</div>
                    </div>
                </a>
                {% endwith %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}
