{% extends "base.html" %}
{% load tz %}

{% block page_title %}
{{ chat.id }}
{% endblock page_title %}


{% block content %}
<section>
    <div class="container">
        <div class="row">
            {% if not chat %}
            <div class="panel panel-body">
                Невозможно начать беседу. Не найден пользователь или вы не имеете доступа к данной беседе.
            </div>
            {% else %}

            {% if chat %}
            <div id="messages" class="panel">
                <div id="innerMessages">
                    {% for message in chat.messages.all %}
                    {% include 'chats/includes/message.html' with message_item=message %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            <div id="message_form">
                <form id="message-form" class="panel panel-body" method="POST">
                    {% csrf_token %}

                    {{ form }}

                    <button type="submit" class="btn btn-primary btn-sm">
                        <span class="ico ico-comment"></span>Отправить
                    </button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock content %}
