{% extends "base.html" %}
{% load static %}

{% block page_title %}
    Выбор сотрудников для повышения квалификации
{% endblock %}

{% block style %}
    <style>
        #training-nav > .nav-item {
            margin-right: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="card text-center mt-2">
                <div class="card-header">
                    <ul id="training-nav" class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="btn btn-outline-secondary" aria-current="true" href="{% url 'qualification:training' %}">
                                <img src="{% static 'img/buttons/goback.png' %}" alt="">
                                Назад
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Выбор сотрудников для повышения квалификации</h5>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">ФИО</th>
                            <th scope="col">Должность</th>
                            <th scope="col">Дата последнего повышения квалификации</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">
                                <input class="form-check-input" type="checkbox">
                            </th>
                            <td>Иванов С.Е.</td>
                            <td>Преподаватель физики</td>
                            <td>24.08.2018</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <input class="form-check-input" type="checkbox">
                            </th>
                            <td>Степанов Р.Е.</td>
                            <td>Преподаватель философии</td>
                            <td>02.12.2015</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <input class="form-check-input" type="checkbox">
                            </th>
                            <td>Дронов М.К.</td>
                            <td>Учитель младших классов</td>
                            <td>12.02.2020</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <input class="form-check-input" type="checkbox">
                            </th>
                            <td>Антонов А.В.</td>
                            <td>Профессор</td>
                            <td>18.10.2016</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <input class="form-check-input" type="checkbox">
                            </th>
                            <td>Строганов С.В.</td>
                            <td>Преподаватель программирования</td>
                            <td>29.01.2021</td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-secondary">Отменить выбор</button>
                    <button type="button" class="btn btn-success">Принять</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}