{% extends "base.html" %}
{% load static %}

{% block page_title %}
    Распределения на курсы
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="card text-center mt-2">
                <div class="card-body">
                    <h5 class="card-title">Список распределений на курсы</h5>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Дата начала</th>
                            <th scope="col">Дата окончания</th>
                            <th scope="col">Курс</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for distribution in distributions %}
                            <tr>
                                <td>{{ distribution.date_start }}</td>
                                <td>{{ distribution.date_end }}</td>
                                <td>{{ distribution.course.name }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}