{% extends "base.html" %}
{% load static %}

{% block page_title %}
    Курсы
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="card text-center mt-2">
                <div class="card-body">
                    <h5 class="card-title">Список курсов</h5>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Название курса</th>
                            <th scope="col">Краткое название</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for course in courses %}
                            <tr>
                                <th scope="row">{{ course.id }}</th>
                                <td>{{ course.name }}</td>
                                <td>{{ course.short_name }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}