{% extends "base.html" %}
{% load static %}

{% block page_title %}
    Повышение квалификации
{% endblock %}

{% block style %}
    <style>
        #training-nav > .nav-item {
            margin-right: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="card text-center mt-2">
                <div class="card-header">
                    <ul id="training-nav" class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="btn btn-outline-secondary" aria-current="true" href="{% url 'qualification:choice' %}">
                                <img src="{% static 'img/buttons/choices.png' %}" alt="">
                                Выбор сотрудников для повышения квалификации
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Вы находитесь в разделе "Повышение квалификации"</h5>
                    <p class="card-text">Перейдите в один из пунктов меню</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}