{% extends "base.html" %}

{% load static %}
{% load tz %}
{% load get_companion %}
{% load unreaded_count %}

{% block page_title %}
    Диалоги
{% endblock page_title %}

{% block content %}
    <section id="dialogs">
        <div class="container mt-3">
            <div class="messaging">
                <div class="inbox_msg">

                    <div class="inbox_people">
                        <div class="headind_srch">
                            <div class="recent_heading">
                                <h4>Диалоги</h4>
                            </div>
                            <div class="srch_bar">
                                <div class="stylish-input-group">
                                    <input type="text" class="search-input" name="search-query"
                                           placeholder="Поиск диалогов">
                                    <span class="input-group-addon">
                                <button type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </span>
                                </div>
                            </div>
                        </div>

                        {% if chats.count == 0 %}
                            <div class="inbox_chat text-center text-muted">
                                Нет ни одного начатого диалога
                            </div>
                        {% else %}

                            <ul class="inbox_chat">
                                {% for chat in chats %}
                                    {% with last_message=chat.messages.last %}
                                        {% get_companion request.user chat as companion %}
                                        <li id="{{ chat.id }}" class="chat_list active_chat">
                                            <div class="{% if companion == last_message.author and not last_message.is_readed %} unreaded {% endif %}">
                                                <div class="chat_people">
                                                    <div class="chat_img">
                                                        <img src="https://ptetutorials.com/images/user-profile.png"
                                                             alt="">
                                                    </div>
                                                    <div class="chat_ib">
                                                        <h5>{{ companion.username }}
                                                            <span class="chat_date">{{ last_message.created_dt|localtime }}</span>
                                                        </h5>
                                                        <p>{{ last_message.message }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>{% unreaded_msg_count user chat %}</div>
                                        </li>
                                    {% endwith %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="mesgs">
                        <div class="msg_history">
                            <div class="incoming_msg">
                                <div class="incoming_msg_img"><img
                                        src="https://ptetutorials.com/images/user-profile.png" alt="sunil"></div>
                                <div class="received_msg">
                                    <div class="received_withd_msg">
                                        <p>Test which is a new approach to have all
                                            solutions</p>
                                        <span class="time_date"> 11:01 AM    |    June 9</span></div>
                                </div>
                            </div>
                            <div class="outgoing_msg">
                                <div class="sent_msg">
                                    <p>Test which is a new approach to have all
                                        solutions</p>
                                    <span class="time_date"> 11:01 AM    |    June 9</span></div>
                            </div>
                            <div class="incoming_msg">
                                <div class="incoming_msg_img"><img
                                        src="https://ptetutorials.com/images/user-profile.png" alt="sunil"></div>
                                <div class="received_msg">
                                    <div class="received_withd_msg">
                                        <p>Test, which is a new approach to have</p>
                                        <span class="time_date"> 11:01 AM    |    Yesterday</span></div>
                                </div>
                            </div>
                            <div class="outgoing_msg">
                                <div class="sent_msg">
                                    <p>Apollo University, Delhi, India Test</p>
                                    <span class="time_date"> 11:01 AM    |    Today</span></div>
                            </div>
                            <div class="incoming_msg">
                                <div class="incoming_msg_img"><img
                                        src="https://ptetutorials.com/images/user-profile.png" alt="sunil"></div>
                                <div class="received_msg">
                                    <div class="received_withd_msg">
                                        <p>We work directly with our designers and suppliers,
                                            and sell direct to you, which means quality, exclusive
                                            products, at a price anyone can afford.</p>
                                        <span class="time_date"> 11:01 AM    |    Today</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="type_msg">
                            <div class="input_msg_write">
                                <input type="text" class="write_msg" placeholder="Type a message"/>
                                <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o"
                                                                              aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock content %}


{% block css %}
    <link rel="stylesheet" href="{% static 'chats/css/chats.css' %}">
{% endblock css %}

{% block js %}
    <script>
		let searchInput = document.querySelector('.search-input');
		let stylishInputGroup = document.querySelector('.stylish-input-group');
		searchInput.addEventListener('input', function() {
			fetch('http://localhost:8000/api/users/', {
				method: 'POST',
				headers: {'Content-Type': 'application/json'},
				body: JSON.stringify({query: searchInput.value.trim()})
			})
				.then(response => response.json())
				.then(data => {
					document.querySelectorAll('.users-block').forEach((elem) => {
						elem.remove();
					});
					let usersBlock = document.createElement('div');
					usersBlock.classList.add('users-block');
					for (let user of data.users) {
						let linkPeople = document.createElement('a');
						linkPeople.href = `${window.location.origin}/chats/create/${user.id}`;
						linkPeople.textContent = user.username;
						usersBlock.appendChild(linkPeople);
					}
					stylishInputGroup.appendChild(usersBlock);
				})
				.catch(err => console.log(err))
		});
    </script>
{% endblock js %}
