{% extends "base.html" %}

{% load static %}
{% load tz %}
{% load get_companion %}
{% load unreaded_count %}

{% block page_title %}
    Диалоги
{% endblock page_title %}

{% block content %}
    <section id="dialogs">
        <div class="container mt-5">
            <div class="messaging">
                <div class="inbox_msg">

                    <div class="inbox_people">
                        <div class="headind_srch">
                            <div class="recent_heading">
                                <h4>Диалоги</h4>
                            </div>
                            <div class="srch_bar">
                                <div class="stylish-input-group">
                                    <input type="text" class="search-input" name="search-query"
                                           placeholder="Поиск диалогов">
                                    <span class="input-group-addon">
                                <button type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </span>
                                </div>
                            </div>
                        </div>

                        {% if chats.count == 0 %}
                            <div class="inbox_chat text-center text-muted">
                                Нет ни одного начатого диалога
                            </div>
                        {% else %}

                            <ul class="inbox_chat">
                                {% for chat in chats %}
                                    {% with last_message=chat.messages.last %}
                                        {% get_companion request.user chat as companion %}
                                        <li id="{{ chat.id }}" class="chat_list active_chat">
                                            <div class="{% if companion == last_message.author and not last_message.is_readed %} unreaded {% endif %}">
                                                <div class="chat_people">
                                                    <div class="chat_img">
                                                        <img src="https://ptetutorials.com/images/user-profile.png"
                                                             alt="">
                                                    </div>
                                                    <div class="chat_ib">
                                                        <h5>{{ companion.username }}
                                                            <span class="chat_date">{{ last_message.created_dt|localtime }}</span>
                                                        </h5>
                                                        <p>{{ last_message.message }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>{% unreaded_msg_count user chat %}</div>
                                        </li>
                                    {% endwith %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="mesgs">
                        <p class="text-center text-muted" style="margin-top: 40%;">Выберите диалог или начните новый</p>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock content %}


{% block css %}
    <link rel="stylesheet" href="{% static 'chats/css/chats.css' %}">
{% endblock css %}

{% block js %}
    <script>
		let searchInput = document.querySelector('.search-input');
		let stylishInputGroup = document.querySelector('.stylish-input-group');
		searchInput.addEventListener('input', () => {
			fetch('http://localhost:8000/api/users/', {
				method: 'POST',
				headers: {'Content-Type': 'application/json'},
				body: JSON.stringify({query: searchInput.value.trim()})
			})
				.then(response => response.json())
				.then(data => {
					document.querySelectorAll('.users-block').forEach((elem) => {
						elem.remove();
					});
					let usersBlock = document.createElement('div');
					usersBlock.classList.add('users-block');
					for (let user of data.users) {
						let linkPeople = document.createElement('a');
						linkPeople.href = `${window.location.origin}/chats/create/${user.id}`;
						linkPeople.textContent = user.username;
						usersBlock.appendChild(linkPeople);
					}
					stylishInputGroup.appendChild(usersBlock);
				})
				.catch(err => console.log(err));
		});

		function createUserHeader() {
			let headindSrch = document.createElement('div'),
				recentHeading = document.createElement('div'),
				companionName = document.createElement('h4'),
				companionAvatar = document.createElement('img');

			headindSrch.classList.add('headind_srch');
			recentHeading.classList.add('recent_heading');
			companionName.textContent = 'Артем Дроздов';
			companionAvatar.src = 'https://ptetutorials.com/images/user-profile.png';
			companionAvatar.style.width = '7%';
			companionAvatar.style.float = 'right';

			recentHeading.appendChild(companionName);
			headindSrch.appendChild(recentHeading);
			headindSrch.appendChild(companionAvatar);
			return headindSrch;
        }

        function createMessageForm() {
			let typeMsg = document.createElement('div'),
				inputMsgWriteBlock = document.createElement('div'),
				writeMsgInput = document.createElement('input'),
				msgSendBtn = document.createElement('button'),
				bntIcon = document.createElement('i');

			typeMsg.classList.add('type_msg');
			inputMsgWriteBlock.classList.add('input_msg_write_block');
			writeMsgInput.classList.add('write_msg');
			writeMsgInput.placeholder = 'Сообщение';
			msgSendBtn.classList.add('msg_send_btn');
			bntIcon.className = 'fa fa-paper-plane-o';
			bntIcon.setAttribute('aria-hidden', 'true');

			msgSendBtn.appendChild(bntIcon);
			inputMsgWriteBlock.appendChild(writeMsgInput);
			inputMsgWriteBlock.appendChild(msgSendBtn);
			typeMsg.appendChild(inputMsgWriteBlock);
			return typeMsg;
        }

		let chats = document.querySelectorAll('.chat_list'),
			mesgs = document.querySelector('.mesgs');
		chats.forEach(chat => {
			chat.addEventListener('click', () => {
				mesgs.innerHTML = '';

				fetch(`http://localhost:8000/chats/${chat.id}`)
                    .then(response => response.json())
                    .then(data => {
                        let msgHistory = document.createElement('div');
                        msgHistory.classList.add('msg_history');
                        mesgs.appendChild(createUserHeader());
                        mesgs.appendChild(msgHistory);

                    	if (data.length === 0) {
                    		let infoText = document.createElement('p');
                    		infoText.textContent = 'У вас нет сообщений с этим пользователем';
                            infoText.className = 'text-muted text-center';
                            infoText.style.marginTop = '40%';
                    		msgHistory.appendChild(infoText);
                        } else {
							data.forEach(message => {
								if (message.author === '{{ request.user.username }}') {
									let outgoingMsg = document.createElement('div'),
										sentMsg = document.createElement('div'),
										textMsg = document.createElement('p'),
										timeMsg = document.createElement('span');
									outgoingMsg.classList.add('outgoing_msg');
									sentMsg.classList.add('sent_msg');
									timeMsg.classList.add('time_date');

									textMsg.textContent = message.text;
									timeMsg.textContent = message.created_dt;

									sentMsg.appendChild(textMsg);
									sentMsg.appendChild(timeMsg);
									outgoingMsg.appendChild(sentMsg);

									msgHistory.appendChild(outgoingMsg);
								} else {
									let incomingMsg = document.createElement('div'),
										receivedMsg = document.createElement('div'),
										receivedWithdMsg = document.createElement('div'),
										textMsg = document.createElement('p'),
										timeMsg = document.createElement('span');
									incomingMsg.classList.add('incoming_msg');
									receivedMsg.classList.add('received_msg');
									receivedWithdMsg.classList.add('received_withd_msg');
									timeMsg.classList.add('time_date');

									textMsg.textContent = message.text;
									timeMsg.textContent = message.created_dt;

									receivedWithdMsg.appendChild(textMsg);
									receivedWithdMsg.appendChild(timeMsg);
									receivedMsg.appendChild(receivedWithdMsg);
									incomingMsg.appendChild(receivedMsg);

									msgHistory.appendChild(incomingMsg);
								}
							});
                        }

						mesgs.appendChild(createMessageForm());
                    })
                    .catch(err => console.log(err));
			});
        });
    </script>
{% endblock js %}
