<!--{% url 'users:profile' message_item.author.username as the_user_url%}-->
{% load tz %}
<div class="list-group-item {% if not message_item.is_readed %}unreaded{% endif %}">
    <div class="reply-body">
        <ul class="list-inline">
            <li class="drop-left-padding">
                <strong class="list-group-item-heading"><a href="">{{ message_item.author.username }}</a></strong>
            </li>
            <li class="pull-right text-muted"><small> {{ message_item.created_dt|localtime }} </small></li>
        </ul>
        <div>{{ message_item.message }}</div>
    </div>
</div>