{% extends "base.html" %}

{% block page_title %}
    Получение бумажной версии документа
{% endblock %}

{% block content %}
    <section id="additional_info">
        <div class="container pt-5">
            <div class="row">
                <div class="col-4 mx-auto">
                    <h2 class="text-center">Получение бумажной версии документа</h2>

                    <form class="d-flex flex-column" method="POST" action="{% url 'additional_info_url' %}">
                        {% csrf_token %}
                        {% for field in form %}
                            {% include "register/includes/form_fields.html" %}
                        {% endfor %}
                        <button class="btn btn-primary align-self-center" type="submit">Отправить</button>
                    </form>

                </div>
            </div>
        </div>
    </section>
{% endblock %}