{% extends "base.html" %}

{% block page_title %}
    Регистрация
{% endblock %}

{% block content %}
    <section id="signup">
        <div class="container pt-5">
            <div class="row">
                <div class="col-4 mx-auto">
                    <h2 class="text-center">Регистрация</h2>

                    <form class="d-flex flex-column" method="POST" action="{% url 'listener_signup' %}">
                        {% csrf_token %}
                        {% for field in form %}
                            {% include "register/includes/form_fields.html" %}
                        {% endfor %}
                        <button class="btn btn-primary align-self-center" type="submit">Зарегестрироваться</button>
                    </form>

                    <p class="text-center">Уже есть аккаунт? <a href="{% url 'user_login' %}">Войти</a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}