{% extends "base.html" %}

{% block page_title %}
    Регистрация
{% endblock %}

{% block content %}
    <section id="signup">
        <div class="container pt-5">
            <div class="row">
                <div class="col-4 mx-auto">
                    <h2 class="text-center">Регистрация</h2>

                    <form class="d-flex flex-column" method="POST" action="{% url 'listener_signup_url' %}">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                {{ field.label_tag }} {% if field.field.required %} <span style="color:red;">*</span> {% endif %}
                                {{ field }}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">{{ error }}</div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <button class="btn btn-primary align-self-center" type="submit">Зарегестрироваться</button>
                    </form>

                    <p class="text-center">Уже есть аккаунт? <a href="{% url 'user_login_url' %}">Войти</a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}